body{
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
div{
    height: 400px;
    width: 700px;
    cursor: pointer;
    transition: 0.8s;
}
.container-div{
    transform: rotateX(400deg)
                rotateZ(290deg)
                rotateY(30deg);
}
.container-div div{
    background-image: url("daa.png");
    background-size: cover;
    position: absolute;
}
.container-div:hover :nth-child(1){
    opacity: 0.2;
}
.container-div:hover :nth-child(2){
    transform: translate(30px,-10px);
    opacity: 0.4;
}
.container-div:hover :nth-child(3){
    transform: translate(60px,-29px);
    opacity: 0.8;
}
.container-div:hover :nth-child(4){
    transform: translate(90px,-30px);
    opacity: 0.8;
}
.container-div:hover :nth-child(5){
    transform: translate(120px,-40px);
    opacity: 1;
}